* {
  box-sizing: border-box;
}

:root {
  --header-bg: #741b20;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  background: #000;
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  --height: 40px;

  display: inline-block;
  min-width: 110px;
  height: var(--height);
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid var(--header-bg);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: var(--height);
  color: #fff;
  background: var(--header-bg);
  cursor: pointer;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* Header */
.header {
  padding: 12px 0 10px;
}

.header.fixed {
  position: sticky;
  top: -10px;
  z-index: 1;
}

.logo__brand img {
  width: 100px;
  object-fit: cover;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  padding: 0 20px;
}

.navbar__link {
  font-size: 1.3rem;
  color: #fff;
}

.navbar__link:hover {
  color: var(--header-bg);
  text-shadow: 1px 0 0 currentColor;
}

.header-action__login {
  color: #fff;
  margin-right: 14px;
  font-size: 1.2rem;
}

/* Slider */
.banner__heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.banner-slider {
  display: flex;
}

.banner-slider__btn-right {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.banner-slider__item {
  margin-top: 20px;
  width: 170px;
  height: 230px;
  object-fit: cover;
  margin-left: 5px;
}

.banner-slider__item:first-child {
  margin-left: 0;
}
