* {
  box-sizing: border-box;
}

:root {
  --primary-bg: #741b20;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  background: #000;
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  --height: 40px;

  display: inline-block;
  min-width: 110px;
  height: var(--height);
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid var(--primary-bg);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: var(--height);
  color: #fff;
  background: var(--primary-bg);
  cursor: pointer;
}

.container {
  width: 1370px;
  max-width: calc(100% - 38px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1000px 330px;
  column-gap: 80px;
}

/* Header */
.header {
  padding: 12px 35px 10px 30px;
  background: #000;
}

.header.fixed {
  position: sticky;
  top: -10px;
  z-index: 1;
}

.logo__brand img {
  width: 100px;
  object-fit: cover;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  padding: 0 20px;
}

.navbar__link {
  font-size: 1.2rem;
  color: #fff;
}

.navbar__link:hover {
  color: var(--primary-bg);
  text-shadow: 1px 0 0 currentColor;
}

.header-action__login {
  color: #fff;
  margin-right: 14px;
  font-size: 1.2rem;
}

.header-action__signup:hover {
  background: #201f1f;
  color: var(--primary-bg);
}

/* slider*/
.slider {
  max-width: 1000px;
  margin: 15px auto;
  position: relative;
  display: inline-block;
}

.slider-next,
.slider-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background-color: var(--primary-bg);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
  display: flex;
}

.slider-next {
  right: -25px;
}

.slider-prev {
  left: -25px;
}

.slider-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 10;
}

.slider-dot__item {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #999;
  cursor: pointer;
  transition: background-color 0.25s linear;
}

.slider-dot__item.active {
  background-color: white;
}

.slider-wrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.slider-main {
  display: flex;
  position: relative;
  transition: transform 0.25s linear;
  height: 100%;
}

.slider-main__item {
  height: 100%;
  width: 100%;
  flex: 1 0 100%;
  user-select: none;
}

.slider-main__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* Trending */
.trending-movie {
  margin-left: -50px;
  width: 1100px;
}

.trending-movie__heading {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 8px;
}

.trending-movie-list {
  display: flex;
}

.trending-movie-list__item {
  margin-top: 20px;
  width: 211px;
  height: 230px;
  object-fit: cover;
  margin-left: 5px;
  border-radius: 12px;
  cursor: pointer;
}

.trending-movie-list__item:hover {
  transition: 0.25s;
  transform: translateY(-16px);
}

.trending-movie-list__item:hover {
  transform: scale(1.03); /*phóng lớn ảnh*/
}

.trending-movie-list__item:first-child {
  margin-left: 0;
}

/* .trending-movie__btn-right {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 105px 0 0 1110px;
  color: var(--primary-bg);
  background: transparent;
  border: 3px solid var(--primary-bg);
  cursor: pointer;
  transition: 0.25s;
} */
/* 
.trending-movie__btn-right:hover {
  background: #696262;
} */
.hot-movie {
  margin: 20px 0 0 -50px;
}

.hot-movie__heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.hot-movie__item {
  margin-bottom: 20px;
}

.hot-movie-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 10px;
  text-align: center;
}

.hot-movie-wrapper__img {
  width: 211px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.25s;
}

.hot-movie-wrapper__img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.hot-movie-wrapper__title {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
}

.hot-movie-wrapper__desc {
  color: #fff;
  font-weight: 400;
}

/* Number Button */
.btn-wrapper {
  margin-top: 30px;
  text-align: center;
}

.btn-wrapper__number {
  min-width: 50px;
  transition: 0.25s;
  margin-left: 12px;
  border-radius: 10px;
}

.btn-wrapper__number:hover {
  background: #000;
}

/* Right */
.right-side {
  background: #201f1f;
  border-radius: 12px;
}

.dev-information {
  text-align: center;
  padding: 50px 10px;
}
.dev-information__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.dev-information__position {
  font-size: large;
  font-weight: bold;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}
.dev-information__desc {
  padding: 30px;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  font-weight: 500;
  color: #fff;
}

.dev-information li:nth-child(1) {
  border-right: 1px solid #b5b5b5;
}

.list-movie {
  padding: 20px;
}

.list-movie__bigTitle {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 4px;
}

.list-movie-wrapper {
  list-style: none;
  max-width: 400px;
  margin-left: 30px;
}
.list-movie-wrapper__item {
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 30px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 25px -35px;
  color: #fff;
}

.list-movie-wrapper__img {
  width: 60px;
  height: 50px;
  object-fit: cover;
  border-radius: 30%;
  border: 1px solid var(--primary-bg);
}
.movie-content__name {
  font-size: 1rem;
  margin-top: 5px;
}
.movie-content__status {
  opacity: 0.6;
  margin-top: 5px;
}

/* footer */
.footer {
  background: #201f1f;
  margin-top: 100px;
  font-family: "Open Sans", sans-serif;
  padding: 0 20px;
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
  padding-top: 20px;
}

.footer__desc {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.75;
  color: #a9b3bb;
}

.footer__heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.75;
  color: #ffffff;
}

.footer__list {
  margin-bottom: 28px;
}

.footer__link {
  font-size: 1rem;
  line-height: 1.86;
  color: #a9b3bb;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__social {
  display: flex;
  column-gap: 10px;
  margin-bottom: 28px;
}

.footer__social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #000;
  background: #fff;
  transition: 0.25s;
}

.footer__social-btn:hover {
  background-color: var(--primary-bg);
  color: #fff;
}

.footer-form {
  margin-top: 20px;
  display: flex;
  column-gap: 12px;
}

.footer-form__input {
  width: 212px;
  height: 46px;
  outline: none;
  border: 1px solid #406181;
  border-radius: 4px;
  background: transparent;
  padding: 0 10px;
  color: #fff;
}

.footer-form__input::placeholder {
  font-size: 1rem;
  line-height: 1.86;
  color: #9ca8b1;
}

.footer-form__submit {
  --height: 46px;
  min-width: 108px;
  border-radius: 4px;
  font-size: 1rem;
}

.footer__copyright {
  padding: 28px 0 42px;
}

.footer__copyright-text {
  font-size: 1rem;
  line-height: 1.86;
  text-align: center;
  color: #aab3ba;
}
