* {
  box-sizing: border-box;
}

:root {
  --header-bg: #741b20;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* Header */
.header {
  min-height: 100vh;
  padding-top: 30px;
  background: var(--header-bg);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  display: inline-flex;
  font-size: 1rem;
}

.logo__brand img {
  width: 100px;
  object-fit: cover;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
}
