* {
  box-sizing: border-box;
}

:root {
  --header-bg: #741b20;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  background: #000;
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  --height: 40px;

  display: inline-block;
  min-width: 110px;
  height: var(--height);
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid var(--header-bg);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: var(--height);
  color: #fff;
  background: var(--header-bg);
  cursor: pointer;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* .container {
  background-color: #fcf5f3;
  width: 1450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  min-height: 70vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100px auto 300px;
} */

/* Header */
.header {
  padding: 12px 0 10px;
}

.header.fixed {
  position: sticky;
  top: -10px;
  z-index: 1;
}

.logo__brand img {
  width: 100px;
  object-fit: cover;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  padding: 0 20px;
}

.navbar__link {
  font-size: 1.3rem;
  color: #fff;
}

.navbar__link:hover {
  color: var(--header-bg);
  text-shadow: 1px 0 0 currentColor;
}

.header-action__login {
  color: #fff;
  margin-right: 14px;
  font-size: 1.2rem;
}

/* Slider */
.banner__heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.banner-slider {
  display: flex;
}

.banner-slider__item {
  width: 200px;
}
